.references-button {
  position: fixed;
  bottom: 50px;
  left: 70px;
  height: 50px;
  border-radius: 25px;
  background-color: #ffffff35;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.3s ease;
  z-index: 1000;
  padding: 0;
  min-width: 50px;
  width: 50px;
  overflow: hidden;
}

.references-button.visible {
  opacity: 0.8;
  visibility: visible;
  transform: scale(1);
}

.references-button:hover {
    opacity: 1;
  background-color: #ffffff44;
  left: 35px;
  width: 150px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.references-button .button-content {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  padding: 0 13px;
  width: 100%;
}

.references-button svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.references-button .button-text {
  font-size: 1rem;
  opacity: 0;
  transform: translateX(-10px);
  transition: all 0.3s ease;
  margin-left: 4px;
}

.references-button:hover .button-text {
  opacity: 1;
  transform: translateX(0);
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .references-button {
    bottom: 24px;
    left: 24px;
    min-width: 36px;
    z-index: 1000;
  }

  .references-button:hover {
    width: 150px;
    left: 10px;
  }

  .references-button .button-text {
    font-size: 16px;
  }
} 