.access-denied-page {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.access-denied-page .access-denied-container {
  width: 90%;
  padding: 2rem;
  position: relative;
  z-index: 10;
  text-align: center;
}

.access-denied-page h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.access-denied-page p {
  font-size: 1.1rem;
  color: var(--color-white-t80);
}

@media (max-width: 768px) {
  .access-denied-page .access-denied-container {
    width: 95%;
    padding: 1rem;
    padding-top: 2rem;
  }
} 