@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #6d23ce;
  --backgorund-color: #090909;
  --secondary-color: #ded4f0;
  --third-color: #a3a2d8;
  --text-color: #ffffff;
  --white-color: #f9fafb;
  --gray-color: #afafaf;
}

body {
  overflow-x: hidden;
  // user-select: none;

  // &::-webkit-scrollbar {
  //   width: 10px;
  // }

  // &::-webkit-scrollbar-track {
  //   background: #ffffff;
  // }

  // &::-webkit-scrollbar-thumb {
  //   background: #464646;
  //   &:hover {
  //     background: #333333;
  //   }
  // }
}
nav {
  width: 100%;

  background: rgba(255, 255, 255, 0.06); /* White with low opacity */
  backdrop-filter: blur(5px); /* Blur effect */
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.1); /* Thin white border */

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: var(--text-color);

  z-index: 9999;
  position: fixed;
  top: 0;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem 2rem;

    .img-container {
      width: 10rem;


      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    ul {
      gap: 1rem;
      list-style: none;
      display: flex;
      align-items: center;

      li{
        padding: .5rem;
      }
    }

    svg {
      height: 2rem;
      margin: 5px;
      display: none;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.nav-menu-outer {
  display: none;
  transition: all 0.2s ease-in;

  ul {
    list-style: none;
  }
}

.open-nav {
  transform: translateX(0);
}

.close-nav {
  transform: translateX(100%);
}

.nav-link {
  color: var(--text-color);
  text-decoration: none;
}

.active-link {
  border-bottom: solid 2px var(--primary-color);
}

@media (max-width: 580px) {
  nav {
    .wrapper {
      .nav-menu {
        display: none;
      }

      svg {
        display: block;
      }
    }
  }

  .nav-menu-outer {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 40%;
    height: 100%;

    background: rgba(255, 255, 255, 0.1); /* White with low opacity */
    backdrop-filter: blur(10px); /* Blur effect */
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: var(--text-color);

    .close {
      width: 2rem;
      margin: 1.5rem;
      float: right;

      &:hover {
        cursor: pointer;
      }
    }

    ul {
      margin-top: 70%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      li {
        padding: 1rem;
      }
    }
  }
}

.wrapper-body {
  padding: 0 3rem;
  position: relative;
  z-index: 2;
}

.wrapper-top {
  padding-top: 7rem;
  position: relative;
}

.home {
  position: relative;
  background-color: var(--backgorund-color);

  color: var(--text-color);

  .spacer-svg {
    position: absolute;
    z-index: 2;
    bottom: 0;
  }

  .blob{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
    background: linear-gradient(to right, var(--third-color), var(--primary-color));
    z-index: 1;
    transition: all 5s cubic-bezier(.17,.67,.83,.67);
    animation: blobAnimation 20s infinite;
  }

  .blur{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    backdrop-filter: blur(100px);
  }

    .hero{
      position: relative;
      z-index: 3;
      padding-bottom: 10rem;


      .img-hero{
        display: block;
        margin: 0 auto;
        width: 50%;
        max-width: 20rem;
        margin-bottom: 3rem;
      }

    .many-recent{
      max-width: 70rem;
      margin: 0 auto;

      input {
        width: 100%;
        height: 1.5rem;
        background-color: rgba($color: #ffffff, $alpha: 0.3);
        border: none;
        border-radius: 3px;
        padding: 1rem;
        color: var(--white-color);
        margin-bottom: 1rem;
  
        &:focus {
          outline: none;
        }
      }

      .list{
        overflow-y: auto;
        height: 30rem;
        padding: .5rem;

        &::-webkit-scrollbar {
          width: 5px;
        }
  
        &::-webkit-scrollbar-track {
          background: #a5a5a5;
          border-radius: 10px;
        }
  
        &::-webkit-scrollbar-thumb {
          background: #464646;
          border-radius: 10px;
          &:hover {
            background: #333333;
          }
        }
      }
    }

    }
  
}
.spacer {
  aspect-ratio: 900/100;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.spacer-one {
  background-image: url("./assets/wavesOne.svg");
  position: absolute;
  z-index: 3;
  bottom: 0;
}

.spacer-two {
  background-image: url("./assets/wavesTwo.svg");
}

.loader {
  position: absolute;
  left: 50%;
  top: 56%;
  z-index: 100;
  transform: translateX(-50%) translateY(-50%) scale(2, 2);

  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 0 100% 0 0;
    transform-origin: 0 100%;
  }

  &:before {
    box-shadow: 0 -2px 0 0 #0cf;
    animation: ice 1s infinite linear;
  }

  &:after {
    box-shadow: 2px 0 0 0 #f00;
    animation: fire 1s infinite linear;
  }
}

.loader-level-detail{
  left: 50%;
  top: 40%;
  transform: translateX(-50%) translateY(-50%) scale(2, 2);
}

.recent-rated {
  position: relative;
  z-index: 3;
  background-color: var(--secondary-color);
  padding: 1.5rem;
  padding-bottom: 10rem;
  position: relative;

  .title-recent {
    margin: 2rem auto;
    width: fit-content;
    font-size: clamp(3rem, 6vw, 6rem);
    border-bottom: 5px solid var(--pink-color);
    letter-spacing: 1px;
    text-align: center;

    background: linear-gradient(
      to right,
      #ce78ff,
      #ff2ad1,
      #a1007e,
      #a51d61,
      #b700ff
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;

    animation: gradient 8s ease-in-out infinite;
  }

  .card-holder {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100;
  }
}

.card-tilt {
  max-width: 25rem;
  background-color: var(--white-color);
  border: 2px solid #e9e9ea;
  border-radius: 20px;
  padding: 1rem;
  box-sizing: border-box;
  transform-style: preserve-3d;
  transition: 0.2s all cubic-bezier(0.25, 0.36, 0.81, 0.72);

  perspective: 1000px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

  h1 {
    width: 100%;
    margin-bottom: 1rem;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
  }

  .song-name {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1rem;
    margin-bottom: 3rem;
  }

  .artist-name {
    color: var(--gray-color);
    font-size: 0.9rem;
  }

  button {
    display: block;
    margin-left: auto;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s linear;

    &:hover {
      background-color: var(--primary-color);
      color: var(--text-color);
    }

    &:active {
      background-color: var(--gray-color);
    }
  }

  .img-container {
    width: 100%;
    max-height: 17rem;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 3rem;

    img {
      width: 100%;
      object-fit: contain;
    }
  }
}

.background-level {
  height: 100vh;
  width: 100vw;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("https://images.rawpixel.com/image_social_landscape/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3B4MTM2NjcxMC1pbWFnZS1rd3Z4eGVxcC5qcGc.jpg");
  background-size: cover;
  filter: blur(10px);
  background-color: rgba($color: #000000, $alpha: 1);
}

.level-page {
  background-color: var(--backgorund-color);
  color: var(--text-color);
  min-height: 100vh;

  .wrapper-level {
    padding: 0 1rem;
  }

  .wrapper-level-top {
    padding-top: 6rem;
  }

  input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 3rem;
    display: block;
    max-width: 85rem;
    border-radius: 5px;
    margin: 0 auto;
    padding: 0 1rem;
    border: 3px solid transparent;

    &:focus {
      border-color: var(
        --third-color
      ); /* Change to desired focus border color */
      outline: none; /* Optional: Removes the default focus outline */
    }
  }

  .wrapper-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    max-width: 80rem;
    z-index: 2;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 3rem;
    color: #fff;
    position: relative;

    .filter {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;

      .dropdown {
        border-radius: 8px;
        gap: 1rem;
        display: flex;
        align-items: center;

        select {
          width: 100%;
          padding: 8px 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          background-color: white;
          font-size: 14px;
          cursor: pointer;

          option {
            padding: 10px;
          }

          &:hover {
            border-color: #888;
          }

          &:focus {
            outline: none;
            border-color: #555;
            box-shadow: 0 0 0 2px rgba(0, 0, 255, 0.2);
          }
        }
      }

      .select-group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
      }
    }

    .spacer-left-right {
      width: 2px;
      background-color: var(--third-color);
      border-radius: 1px;
    }

    .sort {
      width: 33rem;

      .select-group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;

      }
    }
  }

  .grid-container {
    position: relative;
    padding-top: 2rem;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(5, 1fr); //change to 6 for clears
    gap: 10px;

    .grid-header {
      padding: 10px;
      text-align: center;
      font-weight: bold;
    }

    .grid-content-long {
      grid-column: 1 / -1; // Span across all 6 columns
      display: grid;
      grid-template-columns: repeat(5, 1fr); // change to 6 for clears
      border-radius: 4px;
      height: 4rem;
      align-items: center;
      margin-bottom: 1rem;
      transition: all 0.2s linear;
      cursor: pointer;

      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.4);
      }

      .content {
        padding: 10px;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .content-download {
        display: flex;
        justify-content: center;
        gap: 10px;

        svg {
          height: 100%;
          width: 100%;
          max-width: 2.5rem;
          max-height: 2.5rem;
          stroke: var(--white-color);
          transition: all 0.1s linear;

          path {
            color: var(--white-color);
            background-color: var(--white-color);
          }

          &:hover {
            transform: scale(1.5);
          }
        }
      }
    }
  }
}

.level-page-rev {
  background-color: var(--backgorund-color);
  color: var(--text-color);
  min-height: 100vh;


  .level-body {
    position: relative;
    z-index: 2;
    padding: 0 1.5rem;
    padding-top: 6rem;
    min-height: 100vh;

    max-width: 70rem;
    margin: 0 auto;

    .input-option {
      display: flex;
      gap: 0.5rem;
      height: 2rem;

      input {
        width: 100%;
        background-color: rgba($color: #ffffff, $alpha: 0.3);
        border: none;
        border-radius: 3px;
        padding: 0.5rem;
        color: var(--white-color);

        &:focus {
          outline: none;
        }
      }

      svg {
        height: 2rem;
        width: 2.2rem;
        background-color: rgba($color: #ffffff, $alpha: 0.3);
        padding: 0.1rem;
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.2s linear;

        &:focus {
          outline: none;
        }
      }
    }

    .filter {
      position: relative;
      z-index: 2;
      overflow: visible;
    }

    .sort {
      position: relative;
      z-index: 1;

      .sort-option {
        display: flex;
        gap: 2rem;

        .recent,
        .diff,
        .random {
          p {
            margin-bottom: 0.5rem;
          }

          .wrapper {
            display: flex;
            gap: 1rem;
          }

          svg {
            height: 2rem;
            width: 2rem;

            background-color: rgba($color: #ffffff, $alpha: 0.3);
            padding: 0.1rem;
            border-radius: 3px;
            cursor: pointer;
            transition: all 0.2s linear;

            &:focus {
              outline: none;
            }
          }
        }
      }
    }

    .settings-class {
      transition: height 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55),
        opacity 1s ease-in-out;
      height: 10rem;
      overflow: hidden;
    }

    .spacer-setting {
      width: 100%;
      height: 1px;
      background-color: #ffffff;
      margin-bottom: 0.5rem;
    }

    .input-setting {
      margin-top: 1rem;
    }

    .setting-title {
      margin-bottom: 1rem;
    }

    .setting-description {
      margin-bottom: 0.5rem;
    }
  }
}

.level-card-rev {
  position: relative;
  display: flex;
  justify-content: left;
  gap: 1rem;
  min-height: 4rem;
  padding: 1rem;
  border-radius: 0px;
  margin-bottom: 1rem;
  cursor: pointer;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid;
  border-color: rgb(131, 131, 131);

  &:hover {
    background-color: rgba($color: #ded4f0, $alpha: 0.2);
  }

  .level-exp {
    font-size: 0.9rem;
    color: rgba($color: #ffffff, $alpha: 0.7);
  }

  .level-desc {
    font-size: 1.2rem;
  }

  .level-id {
    color: rgba($color: #ffffff, $alpha: 0.4);
    font-size: 0.6rem;
  }

  .id{
    position: absolute;
    top: 3px;
    left: 3px;
  }

  .level-exp,
  .level-desc,
  .level-id {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .img-wrapper {
    width: 3rem;

    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }

  .artist-wrapper {
    overflow: hidden;
    width: 200px;
  }
  .clears-wrapper {
    overflow: hidden;

    width: 50px;
  }

  // .song-wrapper {
  //   overflow: hidden;

  //   width: 150px;
  // }

  .creator-wrapper {
    flex: 2;
    overflow: hidden;
    min-width: 200px;
    padding-right: 50px;

    .group {
      width: 100%;
      align-items: center;
      display: flex;
      gap: 0.3rem;
    }
  }

  .downloads-wrapper {
    flex: 1;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
    justify-content: flex-end;

    a {
      display: block;
      height: 3rem;
      width: 3rem;

      svg {
        height: 100%;
        width: 100%;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.2s;

        path {
          color: var(--white-color);
        }

        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
}



.level-detail {
  background-color: var(--backgorund-color);
  color: var(--text-color);
  min-height: 100vh;
  padding-bottom: 3rem;
  background-color: var(--backgorund-color);

  .wrapper-level {
    padding: 0 3rem;
    position: relative;
    z-index: 2;
  }

  .wrapper-level-top {
    padding-top: 6rem;
    position: relative;
  }

  button {
    background-color: var(--third-color);
    border: none;
    border-radius: 3px;
    color: var(--white-color);
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    max-width: 70rem;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .header {
    display: flex;
    flex-wrap: wrap; // Allows items to wrap onto the next line on small screens
    gap: 1rem;
    max-width: 70rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    min-height: 8rem; 

    .left, .right {
      flex-basis: 100%; // Forces them to take full width on smaller screens
    }
    

    

    .left {
      position: relative;
      padding: 0.5rem;
      border-radius: 5px;
      flex: 15;
      align-items: center;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      display: flex;
      gap: 1rem;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
      }

      .diff {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
        margin-left: 1rem;
        width: 50px;
        height: 50px;
        display: grid;
        place-items: center;
        font-weight: bold;
        z-index: 2;

        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .title {
        z-index: 2;

        h1,
        p {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          white-space: normal;
          text-overflow: ellipsis;
          overflow-wrap: break-word;
        }
      }
    }

    .right {
      flex: 1;

      display: flex;
      flex-direction: column;
      gap: 1rem;

      a {
        margin: 0 auto;
        display: block; /* Add this line */
        height: 3rem;
        width: 3rem;

        svg {
          height: 100%;
          width: 100%;
          border-radius: 4px;
          margin: 0 auto;
          cursor: pointer;
          transition: all 0.2s;

          path {
            color: var(--white-color);
          }

          &:hover {
            scale: 1.3;
          }
        }
      }
    }
  }

  .body {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    max-width: 70rem;
    margin: 2rem auto;

    .info {
      display: grid;
      grid-template-columns: repeat(
        minmax(200px, 1fr)
      ); // Creates a responsive number of columns
      gap: 1rem;
      padding: 1rem;
      background-color: rgba($color: #ffffff, $alpha: 0.15);
      border-radius: 5px;
      align-self: stretch;

      .info-item {
        display: grid;
        grid-template-columns: 1fr 1fr; // Adjust the ratio between the label and value if necessary
        align-items: center;
        font-weight: bold;

        .one{
          color: rgb(255, 242, 126);
        }

        p {
          margin: 0;
        }

        .info-desc {
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          justify-self: end;
          padding: 0.5rem .5rem;
          background-color: var(--primary-color);
          border-radius: 3px;
          min-width: 5rem;
          text-align: center;
          max-width: 100%;
          text-overflow: ellipsis;
        }
      }

      button {
        height: 100%;
        width: 100%;
        background-color: var(--primary-color);
        border: none;
        border-radius: 3px;
        color: var(--white-color);
        font-size: 1rem;
        cursor: pointer;
        margin: 0;
      }
    }

    .youtube {
      display: flex; // This makes .youtube a flex container
      justify-content: center; // This will center the iframe horizontally
      align-items: center; // This will center the iframe vertically
      flex: 3;
      aspect-ratio: 16/9;
      overflow: hidden;
      border-radius: 5px;

      iframe {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }

  .rank {
    max-width: 70rem;
    margin: 2rem auto;
    background-color: rgba($color: #ffffff, $alpha: 0.15);
    border-radius: 3px;
    padding: 1rem;

    .sort{
      display: flex;
      gap: 1rem;
      margin-bottom: 1rem;
      padding: .5rem;

        svg {
          height: 2.2rem;
          width: 2.2rem;
          background-color: rgba($color: #ffffff, $alpha: 0.2);
          padding: 0.25rem;
          border-radius: 3px;
          cursor: pointer;
          transition: all 0.2s linear;
  
          &:focus {
            outline: none;
          }
        }
      

    }
  

    h1 {
      text-align: center;
      margin-bottom: .5rem;
    }

    .rank-list {
      display: flex;
      flex-direction: column;
      max-height: 30rem;
      overflow-y: auto;
      padding: .5rem;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background: #a5a5a5;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background: #464646;
        border-radius: 10px;
        &:hover {
          background: #333333;
        }
      }

      .list {
        display: flex;
        justify-content: space-between;
        background-color: var(--third-color);
        padding: 0.5rem;
        margin-bottom: 1rem;
        border-radius: 3px;
        align-items: center;
        gap: .5rem;
        flex-wrap: wrap;


        .name, .general, .acc {
          flex: 1; 
          flex-basis: 0; 
          overflow: hidden; 
          white-space: nowrap; 
          text-overflow: ellipsis; 
        }

        .name{
          min-width: 8rem;
        }

        .general, .acc{
          text-align: right;
          min-width: 3rem;
        }
      

        .judgements {
          flex: 1;
          height: 100%;
          background-color: var(--primary-color);
          border: none;
          border-radius: 3px;
          color: var(--white-color);
          cursor: pointer;
          margin: 0;
          text-align: center;
          padding: 0.5rem;

          min-width: 14rem;
          width: 14rem;

          span {
            display: inline-block; 
            color: white; 
            user-select: none;
            font-weight: bold;
            font-size: 0.9rem;
            padding: 0 0.1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 460px) {
  .level-detail {
    .header {
      flex-direction: column;
      align-items: center; // Center align the flex children since it's now a column
      width: 100%;

      .left, .right {
        width: 100%; // Set the width of left and right to 100% on small screens
        padding: 1rem; // Adjust padding as needed
        justify-content: center; // For .left and .right content alignment

        .diff {
          margin: 0 auto; // Center .diff within .left
          order: -1; // Move .diff above the h1 and p if necessary
        }


        .title{
          width: 10rem;
        }

        .title h1,
        .title p {
          // Since text is already set to overflow with ellipsis, we don't need to change that here
          // Ensure the width is constrained to allow for ellipsis to work
          max-width: calc(100% - 50px - 1rem); // Adjust for the size of .diff and any desired margin
        }
      }

      // Assuming you want the .right section to come after .left in the mobile view
      .right {
        order: 1; // Put .right after .left in the flex column
        width: auto; // Let .right take up the necessary space
        flex-direction: row;

        // Any specific styles for children of .right that need adjustment for mobile
        a {
          margin: 1rem auto; // Center align anchor elements
        }
      }
    }
  }
}

.submission-page{
  background-color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-wrap: wrap;

  .wrapper-body {
    padding: 0 3rem;
    position: relative;
    z-index: 2;
  }

  .wrapper-top {
    padding: 6rem 0;
    position: relative;
    width: 10%;
    flex-wrap: wrap;
  }

  svg{
    display: block;
    max-width: 15rem;
    height: 15rem;
    margin: 1rem auto;
  }

      
  h2{
    margin: 2rem auto;
    max-width: 17rem;
    font-size: 2rem;
  }

  button {
    margin: 1rem 0;
    max-width: 30rem;
    padding: .5rem 2rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 3px;
    color: var(--white-color);
    font-size: 1rem;
    cursor: pointer;
    margin: 0;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s linear;

    &:hover {
      background-color: var(--primary-color);
      color: var(--text-color);
    }

    &:active {
      background-color: purple;
    }

  }
  .link{
    margin: 1rem 0;
    font-size: .8rem;
    display: block;
    font-weight: bold;
  }

  .middle-img{
    position: absolute;
    width: 6rem;
    height: 6rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }

  .submission-level{
    background-color: var(--third-color);
    flex: 1;
    text-align: center;
    color: var(--text-color);
    min-width: 30rem;
  }

  .submission-passes{
    background-color: var(--secondary-color);
    flex: 1;
    text-align: center;
    color: var(--backgorund-color);
    min-width: 30rem;

  }
}
@media (max-width: 1150px) {
  // This is a very large breakpoint, you probably meant 930px
  .level-detail {
    .body {
      flex-direction: column;

      .info {
        width: 100%; // Changed from max-width to width to ensure it takes full width
        // Removed flex-direction: row; since .info is a grid container
      }

      .youtube {
        aspect-ratio: 16/9; // Resets any aspect-ratio settings to default
        width: 100%; // Take the full width of the container
      }
    }
  }
}

@keyframes fire {
  to {
    transform: rotate(360deg);
  }
}

@keyframes ice {
  to {
    transform: rotate(-360deg);
  }
}

footer {
  background-color: var(--primary-color);
  height: 100%;

  h2 {
    margin-bottom: 0.5rem;
  }

  p {
    line-height: 1.2rem;
  }

  img{
    width: 5rem;
  }

  .about-container {
    max-width: 15rem;
  }

  .self-promotion-container {
    max-width: 10rem;

    svg {
      margin-top: 1rem;
      cursor: pointer;

      path {
        fill: var(--text-color);
      }
    }
  }

  .wrapper {
    margin: 0 auto;
    max-width: 80rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    gap: 2rem;
    color: var(--text-color);
  }

  .copy-right {
    color: var(--text-color);
    width: fit-content;
    margin: 0 auto;
    margin-top: 2rem;
    padding-bottom: 2rem;
  }
  .link{
    display: block;
    padding-top: .5rem;
    color: white;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@media (max-width: 1145px) {
  .spacer-left-right {
    display: none;
  }
}

@keyframes blobAnimation {
  0% {
    border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    border-radius: 58% 42% 55% 45% / 55% 48% 52% 45%;
    transform: translate(-50%, -50%) rotate(90deg);
  }
  50% {
    border-radius: 50% 50% 33% 67% / 67% 60% 40% 33%;
    transform: translate(-50%, -50%) rotate(180deg);
  }
  75% {
    border-radius: 43% 57% 41% 59% / 41% 54% 46% 59%;
    transform: translate(-50%, -50%) rotate(270deg);
  }
  100% {
    border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media (max-width: 420px) {
  .card-tilt {
    max-width: 20rem;

    .song-name {
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 375px) {
  .card-tilt {
    max-width: 18rem;
  }
}

@media (max-width: 340px) {
  .card-tilt {
    max-width: 16rem;
  }
}

@media (max-width: 300px) {
  .card-tilt {
    max-width: 15rem;
    height: 24rem;

    h1,
    p {
      margin-bottom: 0.5rem;
    }
  }
}
