@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --color-black: #090909;
  --color-white: #f9fafb;
  --color-purple: #6d23ce;
  --color-purple-1: #5c588d;
  --color-purple-2: #807fa8;
  --color-purple-3: #a3a2d8;
  --color-gray-3: #838383;
  --color-gray-2: #cacaca;
  --color-gray-3: #e9e9ea;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --color-black-t10: rgba(9, 9, 9, 0.1);
  --color-black-t20: rgba(9, 9, 9, 0.2);
  --color-black-t60: rgba(9, 9, 9, 0.6);
  --color-white-t6: rgba(249, 250, 251, 0.06);
  --color-white-t10: rgba(249, 250, 251, 0.1);
  --color-white-t20: rgba(249, 250, 251, 0.2);
  --color-white-t30: rgba(249, 250, 251, 0.3);
  --color-white-t60: rgba(249, 250, 251, 0.6);
  --color-white-t80: rgba(249, 250, 251, 0.8);
}

.svg-fill path {
  fill: var(--color-white) !important;
}

.svg-stroke path {
  stroke: var(--color-white) !important;
}

.svg-fill-stroke path {
  stroke: var(--color-white) !important;
  fill: var(--color-white) !important;
}

body {
  overflow-x: hidden;
  color: var(--text-color);
}

.wrapper-body {
  padding: 0 3rem;
  position: relative;
  z-index: 2;
}

.wrapper-top {
  padding-top: 7rem;
  position: relative;
}

.spacer {
  aspect-ratio: 900/100;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.loader {
  position: absolute;
  left: 50%;
  top: 56%;
  z-index: 100;
}
.loader:before, .loader:after {
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 0 100% 0 0;
}
.loader:before {
  transform: translateX(-50%) translateY(-50%) scale(1, 1) rotate(100deg);
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><radialGradient id="a12" cx=".66" fx=".66" cy=".3125" fy=".3125" gradientTransform="scale(1.5)"><stop offset="0" stop-color="%23FF156D"></stop><stop offset=".3" stop-color="%23FF156D" stop-opacity=".9"></stop><stop offset=".6" stop-color="%23FF156D" stop-opacity=".6"></stop><stop offset=".8" stop-color="%23FF156D" stop-opacity=".3"></stop><stop offset="1" stop-color="%23FF156D" stop-opacity="0"></stop></radialGradient><circle transform-origin="center" fill="none" stroke="url(%23a12)" stroke-width="15" stroke-linecap="round" stroke-dasharray="200 1000" stroke-dashoffset="0" cx="100" cy="100" r="70"><animateTransform type="rotate" attributeName="transform" calcMode="spline" dur="1.8" values="360;0" keyTimes="0;1" keySplines="0 0 1 1" repeatCount="indefinite"></animateTransform></circle><circle transform-origin="center" fill="none" opacity="0" stroke="%23FF156D" stroke-width="11" stroke-linecap="round" cx="100" cy="100" r="70"></circle></svg>')
}
.loader:after {
  transform: translateX(-50%) translateY(-50%) scale(-1,1);
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><radialGradient id="a12" cx=".66" fx=".66" cy=".3125" fy=".3125" gradientTransform="scale(1.5)"><stop offset="0" stop-color="%23152CFF"></stop><stop offset=".3" stop-color="%23152CFF" stop-opacity=".9"></stop><stop offset=".6" stop-color="%23152CFF" stop-opacity=".6"></stop><stop offset=".8" stop-color="%23152CFF" stop-opacity=".3"></stop><stop offset="1" stop-color="%23152CFF" stop-opacity="0"></stop></radialGradient><circle transform-origin="center" fill="none" stroke="url(%23a12)" stroke-width="15" stroke-linecap="round" stroke-dasharray="200 1000" stroke-dashoffset="0" cx="100" cy="100" r="70"><animateTransform type="rotate" attributeName="transform" calcMode="spline" dur="2.1" values="360;0" keyTimes="0;1" keySplines="0 0 1 1" repeatCount="indefinite"></animateTransform></circle><circle transform-origin="center" fill="none" opacity="0" stroke="%23152CFF" stroke-width="11" stroke-linecap="round" cx="100" cy="100" r="70"></circle></svg>')
}
.background-level {
  height: 100vh;
  width: 100vw;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("https://images.rawpixel.com/image_social_landscape/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3B4MTM2NjcxMC1pbWFnZS1rd3Z4eGVxcC5qcGc.jpg");
  background-size: cover;
  filter: blur(15px);
  background-color: var(--color-black);
}

.loader-level-detail {
  left: 50%;
  top: 45%;
}

.loader-level-detail-rank {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) scale(-0.5,0.5);
}


.form-container {
  place-items: center;
  max-width: 55rem;
  overflow: hidden;
  display: flex;
  z-index: 10;
  flex-direction: column;
  margin: 4rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
}


.form-container form {
  border-radius: 8px;
  margin-top: 2rem;
  background-color: var(--color-white);
  background-size: contain;
  background-position: center -80px;
  background-repeat: no-repeat;
  flex-direction: column;
}
.result-message {
  position: fixed;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  z-index: 1000; /* Ensure it stays on top */
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0; /* Start hidden */
  visibility: hidden; /* Hidden initially */
}

.result-message.visible {
  opacity: 1; /* Show the message */
  visibility: visible; /* Make it visible */
}

.result-message p {
  margin:0;
  padding-right: 10px;
}

.result-message .close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.result-message .close-btn:hover {
  color: #ffdddd;
}


select {

  /* styling */
  background-color: white;
  border: thin solid var(--color-gray-2);
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* arrows */

select.classic {
  background-image:
    linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

select.classic:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}




select.round {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
}

select.round:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    radial-gradient(gray 70%, transparent 72%);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}





select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}


select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}


.tooltip-container {
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex; /* Allow inline display for other elements */
}

.tooltip {
  visibility: hidden;
  width: 170px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  font-size: 0.6rem;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}


.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 0.95;
}

.thumbnail-container {
  gap: 20px; /* Space between thumbnail and form */
  z-index: 10;
  aspect-ratio: 16/9;
  height: 350px; /* Fixed height */
  place-content: center;
  text-shadow: 0px 0px 4px black;
  overflow: hidden; /* Hide any overflow */
  transition: box-shadow 0.3s ease; /* Smooth transition for shadow */
}

.thumbnail-container.shadow {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8); /* Shadow effect */
}

@media (max-width: 900px) {
  .thumbnail-container {
    height: 300px; /* Fixed height */
  }
}

.thumbnail-container img {
  height: 100%; /* Make the image height match the container */
  width: auto; /* Keep the width proportional */
  object-fit: fill; /* Allow the image to deform if necessary */
}

.thumbnail-container iframe {
  height: 100%; /* Make iframe height match the container */
  width: 100%; /* Ensure iframe fills the container */
}

.thumbnail-text {
  text-align: center; /* Center text */
  color: white;
}

.info {
  flex: 3;
  padding: 1.1rem;
  background-color: white;
  z-index: 15;
}


