

.close-outer{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
}

.close-outer-language{
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999999;
}


.language-dialog{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999;
  max-width: 20rem;
  width: 100%;

  .dialog{
    background-color: var(--white-color);
    padding: 1rem 0;
    border-radius: 5px;

    .list-language{
      list-style: none;
      padding: 1rem 1rem;
      cursor: pointer;
      color: var(--backgorund-color);

      &:hover{
        background-color: var(--secondary-color);
      }
    }
  }
}

nav {
    width: 100%;
  
    background: rgba(255, 255, 255, 0.06); /* White with low opacity */
    backdrop-filter: blur(5px); /* Blur effect */
    border-bottom: 1px solid;
    border-color: rgba(255, 255, 255, 0.1); /* Thin white border */
  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: var(--text-color);
  
    z-index: 9999;
    position: fixed;
    top: 0;
 
  
    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 80rem;
      margin: 0 auto;
      padding: 1rem 2rem;
  
      .img-container {
        width: 8rem;
  
  
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
  
      ul {
        gap: .5rem;
        list-style: none;
        display: flex;
        align-items: center;
        height: 1rem;
  
        li{
          padding: .5rem;
        }

        .nav-language{
          display: flex;
          align-items: center;
          cursor: pointer;

      
          .nav-flag{
            width: 2rem;
            height: 2rem;
          }

          .language-dropdown{
            padding: .5rem;
            width: 3rem;
            height: 3rem;
          }
        }
      }
  
      .menu {
        height: 2rem;
        margin: 5px;
        display: none;
  
        &:hover {
          cursor: pointer;
        }
      }
    }


  }
  
  .nav-menu-outer {
    display: none;
    transition: all 0.2s linear;
  
    ul {
      list-style: none;
    }

    .nav-language{
      display: flex;
      align-items: center;

      .nav-flag{
        width: 2rem;
        height: 2rem;
      }

      .language-dropdown{
        width: 2rem;
        height: 2rem;
        cursor: pointer;

      }
    }
  }

  .open-nav {
    transform: translateX(0);
  }
  
  .close-nav {
    transform: translateX(100%);
  }
  
  .nav-link {
    color: var(--text-color);
    text-decoration: none;
  }
  
  .active-link {
    border-bottom: solid 2px var(--primary-color);
  }
  
  @media (max-width: 580px) {
    nav {
      .wrapper {
        .nav-menu {
          display: none;
        }
  
        .menu {
          display: block;
        }

        
      }

      
    }
  
    .nav-menu-outer {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 99999;
      width: 40%;
      height: 100%;
  
      background: rgba(255, 255, 255, 0.1); /* White with low opacity */
      backdrop-filter: blur(10px); /* Blur effect */
      border-left: 1px solid rgba(255, 255, 255, 0.25);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      color: var(--text-color);
  
      .close {
        width: 2rem;
        margin: 1.5rem;
        float: right;
  
        &:hover {
          cursor: pointer;
        }
      }
  
      ul {
        margin-top: 70%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
  
        li {
          padding: 1rem;
        }
      }
    }
  }