.edit-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.edit-popup-overlay .form-container {
  position: relative;
  background-color: var(--color-black);
  width: 90%;
  max-width: 1200px;
  max-height: 90vh;
  overflow-y: auto;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  z-index: 10000;
}

.edit-popup-overlay .form-container::-webkit-scrollbar {
  width: 8px;
}

.edit-popup-overlay .form-container::-webkit-scrollbar-track {
  background: var(--color-black);
}

.edit-popup-overlay .form-container::-webkit-scrollbar-thumb {
  background: var(--color-purple-2);
  border-radius: 4px;
}

.edit-popup-overlay .form-container form .img-wrapper {
  flex: 2;
}
.edit-popup-overlay .form-container form .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.edit-popup-overlay .form-container form .info {
  flex: 3;
  padding: 1rem;
  background-color: white;
  position: relative;
  z-index: 10001;
}
.edit-popup-overlay .form-container form .info h1 {
  margin-bottom: 1rem;
}
.edit-popup-overlay .form-container form .info input {
  background-color: transparent;
  border: 0;
  border-bottom: 3px solid var(--color-purple-2);
  outline: none;
  padding: 0.5rem 0.2rem 0.2rem 0.5rem;
  font-size: 1rem;
}


.edit-popup-overlay .form-container form .info .youtube-input {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.edit-popup-overlay .form-container form .info .youtube-input .yt-info {
  min-width: 7rem
}
.edit-popup-overlay .form-container form .info .youtube-input .youtube-info {
  display: flex;
  gap:20px
}

.edit-popup-overlay .form-container form .info .id-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.edit-popup-overlay .form-container form .info .id-input .information {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.edit-popup-overlay .form-container form .info .id-input .information .chart-info {
  text-align: center;
  align-items: center;
  font-weight: bold;
  width: 140%
}
.edit-popup-overlay .form-container form .info .id-input .information .chart-info .chart-info-sub {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.edit-popup-overlay .form-container form .info .id-input .information .verified {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.edit-popup-overlay .form-container form .info .id-input .information .button-goto {
  border-radius: 3px;
  border: none;
  padding: 0.5rem;
  font-weight: bold;
  width: 100%;
  color: var(--color-white);
  text-decoration: none;
  text-align: center;
}
.edit-popup-overlay .form-container form .info .youtube-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.edit-popup-overlay .form-container form .info .youtube-input .information {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
}

.edit-popup-overlay .form-container form .info .info-input {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.25rem;
  justify-content: space-around;
}

.edit-popup-overlay .form-container form .info .info-input > * {
  flex: 1 1 150px; /* Flex-grow, flex-shrink, and base size (width of 150px) */
  min-width: 100px; /* Minimum width to avoid shrinking too small */
  max-width: 200px; /* Maximum width to control expansion */
  height: 40px; /* Fixed height */
  box-sizing: border-box; /* To include padding and borders in width/height calculation */
}
.edit-popup-overlay .form-container form .info .info-input-container {
  overflow: hidden;
  max-height: 0; /* Collapsed height */
  transition: max-height 0.4s ease; /* Transition for smooth sliding */
  display: flex;
  margin-top: 1rem;
  padding-right: 1.5rem;
  flex-direction: row;
}

.edit-popup-overlay .form-container form .info .info-input-container.expand {
  overflow:visible;
  max-height: 200px; /* Set a maximum value, or use a value that comfortably fits the content */
}


.edit-popup-overlay .form-container form .info .info-input .keycount-checkbox {
  max-width: 130px;
}

.edit-popup-overlay .form-container form .info .info-input .keycount-checkbox .tooltip{
  right: -15%;
}

.edit-popup-overlay .form-container form .info .info-input input {
  width: auto;
}
.edit-popup-overlay .form-container form .info .accuracy {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
  border: 2px solid var(--color-purple-2);
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.edit-popup-overlay .form-container form .info .accuracy .top, .form-container form .info .accuracy .bottom {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
}
.edit-popup-overlay .form-container form .info .accuracy .top input, .form-container form .info .accuracy .bottom input {
  padding: 0;
  width: 100%;
}
.edit-popup-overlay .form-container form .info .accuracy .top .each-accuracy {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  gap: 0.5rem;
}
.edit-popup-overlay .form-container form .info .accuracy .top .each-accuracy:nth-child(1) {
  flex: 4;
}
.edit-popup-overlay .form-container form .info .accuracy .top .each-accuracy:nth-child(2) {
  flex: 5;
}
.edit-popup-overlay .form-container form .info .accuracy .top .each-accuracy:nth-child(3) {
  flex: 4;
}
.edit-popup-overlay .form-container form .info .accuracy .top .each-accuracy input {
  font-size: 1rem;
  font-weight: bold;
}
.edit-popup-overlay .form-container form .info .accuracy .bottom {
  justify-content: center;
}
.edit-popup-overlay .form-container form .info .accuracy .bottom .each-accuracy {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  gap: 0.5rem;
}
.edit-popup-overlay .form-container form .info .accuracy .bottom .each-accuracy input {
  font-size: 1rem;
  font-weight: bold;
}
.edit-popup-overlay .form-container form .info .accuracy .bottom .each-accuracy:nth-child(1) {
  max-width: 7rem;
  flex: 1;
}
.edit-popup-overlay .form-container form .info .accuracy .bottom .each-accuracy:nth-child(2) {
  max-width: 7rem;
  flex: 1;
}
.edit-popup-overlay .form-container form .info .accuracy .bottom .each-accuracy:nth-child(3) {
  max-width: 7rem;
  flex: 1;
}
.edit-popup-overlay .form-container form .info .accuracy .acc-score {
  display: flex;
  gap: 2rem;
  font-weight: bold;
  font-size: 0.9rem;
}
.edit-popup-overlay .form-container form .info .submit {
  width: 100%;
  background-color: var(--color-purple-3);
  border: none;
  border-radius: 3px;
  color: var(--color-white);
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  max-width: 70rem;
  margin: 0 auto;
  transition: all 100ms linear;
}
.edit-popup-overlay .form-container form .info .submit:hover {
  background-color: var(--color-purple-2);
}
.edit-popup-overlay .form-container form .info .submit:active {
  background-color: var(--color-purple-1);
}

.edit-popup-overlay .close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10002;
}

.edit-popup-overlay .thumbnail-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  background-color: var(--color-black);
  overflow: hidden;
}

.edit-popup-overlay .thumbnail-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.edit-popup-overlay .thumbnail-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  text-align: center;
  padding: 1rem;
}

.edit-popup-overlay .form-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}

.edit-popup-overlay .form-container.shadow {
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.9);
}

.edit-popup-overlay .form-container form {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}/*# sourceMappingURL=editpasspopup.css.map */
