/* tuf-search: #EditPassPopup #editPassPopup #popups #passes #editPass */
.edit-pass-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.edit-pass-popup-overlay .form-container {
  position: relative;
  max-width: 1200px;
  max-height: 85vh;
  overflow-y: auto;
  margin: auto;
  border-radius: 8px;
  z-index: 10000;
}

.edit-pass-popup-overlay .form-container::-webkit-scrollbar {
  width: 8px;
}

.edit-pass-popup-overlay .form-container::-webkit-scrollbar-track {
  background: var(--btn-neutral-dark);
}

.edit-pass-popup-overlay .form-container::-webkit-scrollbar-thumb {
  background: #4a4a4a;
  border-radius: 4px;
}

.edit-pass-popup-overlay .edit-pass-popup-close.tuf-close-button--floating {
  z-index: 10002;
}

.edit-pass-popup-overlay .button-group {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.edit-pass-popup-overlay .button-group button {
  flex: 1;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.edit-pass-popup-overlay .pass-core-form .checkbox-row .announcement-status {
  display: flex;
  gap: 2rem;
  color: #ffffff;
}

.edit-pass-popup-overlay .pass-core-form .checkbox-row .announcement-status .checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  color: #ffffff;
}