.pp-basescore-tooltip {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.pp-basescore-tooltip .pp-basescore-tooltip-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.pp-basescore-tooltip .pp-basescore-tooltip-icon {
  width: 1.25rem;
  height: 1.25rem;
  object-fit: contain;
  flex-shrink: 0;
}
