.pp-difficulty-icon {
  position: absolute;
  top: -11%;
  left: -11%;
  width: 1.75rem;
  height: 1.75rem;
  z-index: 4;
  pointer-events: auto;
  border-radius: 50%;
  object-fit: contain;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.85));
}
