
.level-card-rev {
    position: relative;
    display: flex;
    justify-content: left;
    gap: 1rem;
    min-height: 4rem;
    padding: 1rem;
    border-radius: 0px;
    margin-bottom: 1rem;
    cursor: pointer;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid;
    border-color: rgb(131, 131, 131);
  
    &:hover {
      background-color: rgba($color: #ded4f0, $alpha: 0.2);
    }
  
    .level-exp {
      font-size: 0.9rem;
      color: rgba($color: #ffffff, $alpha: 0.7);
    }
  
    .level-desc {
      font-size: 1.2rem;
    }
  
    .level-id {
      color: rgba($color: #ffffff, $alpha: 0.4);
      font-size: 0.6rem;
    }
  
    .id{
      position: absolute;
      top: 3px;
      left: 3px;
    }
  
    .level-exp,
    .level-desc,
    .level-id {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  
    .img-wrapper {
      width: 3rem;
  
      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
      }
    }
  
    .artist-wrapper {
      overflow: hidden;
      width: 200px;
    }
    .clears-wrapper {
      overflow: hidden;
  
      width: 50px;
    }
  
    // .song-wrapper {
    //   overflow: hidden;
  
    //   width: 150px;
    // }
  
    .creator-wrapper {
      flex: 2;
      overflow: hidden;
      min-width: 200px;
      padding-right: 50px;
  
      .group {
        width: 100%;
        align-items: center;
        display: flex;
        gap: 0.3rem;
      }
    }
  
    .downloads-wrapper {
      flex: 1;
      display: flex;
      gap: 0.5rem;
      align-items: center;
      cursor: pointer;
      justify-content: flex-end;
  
      a {
        display: block;
        height: 3rem;
        width: 3rem;
  
        svg {
          height: 100%;
          width: 100%;
          border-radius: 4px;
          cursor: pointer;
          transition: all 0.2s;
  
          path {
            color: var(--white-color);
          }
  
          &:hover {
            transform: scale(1.3);
          }
        }
      }
    }
  }
  