
.level-page {



    background-color: var(--color-black);
    color: var(--color-white);
    min-height: 100vh;
  
  
    .level-body {
      position: relative;
      z-index: 2;
      padding: 0 1.5rem;
      padding-top: 6rem;
      min-height: 100vh;
  
      max-width: 70rem;
      margin: 0 auto;
  
      .input-option {
        display: flex;
        gap: 0.5rem;
        height: 2rem;
  
        input {
          width: 100%;
          background-color: var(--color-white-t20);
          border: none;
          border-radius: 3px;
          padding: 0.5rem;
          color: var(--white-color);
  
          &:focus {
            outline: none;
          }
        }
  
        svg {
          height: 2rem;
          width: 2.2rem;
          background-color: var(--color-white-t20);
          padding: 0.1rem;
          border-radius: 3px;
          cursor: pointer;
          transition: all 0.2s linear;
  
          &:focus {
            outline: none;
          }
        }
      }
  
      .filter {
        position: relative;
        z-index: 2;
        overflow: visible;
      }
  
      .sort {
        position: relative;
        z-index: 1;
  
        .sort-option {
          display: flex;
          gap: 2rem;
  
          .recent,
          .diff,
          .random {
            p {
              margin-bottom: 0.5rem;
            }
  
            .wrapper {
              display: flex;
              gap: 1rem;
            }
  
            svg {
              height: 2rem;
              width: 2rem;
  
              background-color: var(--color-white-t20);
              padding: 0.1rem;
              border-radius: 3px;
              cursor: pointer;
              transition: all 0.2s linear;
  
              &:focus {
                outline: none;
              }
            }
          }
        }
      }
  
      .settings-class {
        transition: height 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55),
          opacity 1s ease-in-out;
        height: 10rem;
        overflow: hidden;
      }
  
      .spacer-setting {
        width: 100%;
        height: 1px;
        background-color: var(--color-white);
        margin-bottom: 0.5rem;
      }
  
      .input-setting {
        margin-top: 1rem;
      }
  
      .setting-title {
        margin-bottom: 1rem;
      }
  
      .setting-description {
        margin-bottom: 0.5rem;
      }
    }
  }