footer {
    background-color: var(--primary-color);
    height: 100%;
  
    h2 {
      margin-bottom: 0.5rem;
    }
  
    p {
      line-height: 1.2rem;
    }
  
    img{
      width: 5rem;
    }
  
    .about-container {
      max-width: 15rem;
    }
  
    .self-promotion-container {
      max-width: 10rem;
  
      svg {
        margin-top: 1rem;
        cursor: pointer;
  
        path {
          fill: var(--text-color);
        }
      }
    }
  
    .wrapper {
      margin: 0 auto;
      max-width: 80rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 2rem;
      gap: 2rem;
      color: var(--text-color);
    }
  
    .copy-right {
      color: var(--text-color);
      margin: 0 auto;
      padding: 2rem 2rem;
      text-wrap: wrap;
      width: fit-content;
    }
    .link{
      display: block;
      padding-top: .5rem;
      color: white;
    }
  }
  
  