.score-card {
  position: relative;
  display: flex;
  justify-content: left;
  gap: 1rem;
  min-height: 4rem;
  padding: 0.5rem;
  border-radius: 0px;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.1s ease-in-out;
}
.score-card:hover {
  background-color: var(--color-white-t30);
}
.score-card .score-exp {
  width: -moz-fit-content;
  width: fit-content;
  overflow:visible;
  font-size: 0.9rem;
  color: var(--color-white-t80);
}
.score-card .score-desc {
  font-size: 1.2rem;
}

.score-card .score-desc.pure-perfect {
  color: rgb(255, 255, 0);
  text-shadow: 0 0 10px rgba(255, 255, 0, 0.7);
  font-weight: 700;
}

.score-card .score-id {
  color: var(--color-white-t30);
  font-size: 0.6rem;
}
.score-card .id {
  position: absolute;
  top: 3px;
  left: 3px;
}
.score-card .score-exp,
.score-card .score-desc,
.score-card .score-id {
  overflow: visible;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.score-card .img-wrapper {
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.score-card .img-wrapper img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
  border-radius: 100%;
}
.score-card .hidden-level-icon {
  font-size: 1.5rem;
  color: var(--color-white-t80);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.score-card .name-wrapper {
  flex: 2;
  overflow: hidden;
  cursor: pointer;
  min-width: 100px;
  padding-right: 10px;
}
.score-card .score-wrapper {
  overflow: hidden;
  min-width: 120px;
}
.score-card .acc-wrapper {
  overflow: visible;
  min-width: 80px;
}
.score-card .speed-wrapper {
  overflow: hidden;
  min-width: 50px;
}

.score-card .name-wrapper:hover .score-desc {
  text-decoration: underline;
}

.score-card .vid-logo-wrapper {
  min-width: 50px; /* Smooth scaling */
}

.score-card .wf-badge {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-shadow: 0 0 10px #ffd70099;
}

.score-card .wf-text {
  font-size: 0.8rem;
  font-weight: 600;
  color: gold;
  text-shadow: 0 0 0px #000;
}

.score-card .score-impact {
  width: fit-content;
  padding: 0.2rem 0.5rem;
  background-color: #00ff0033;
  border-radius: 10px;
  color: #0f0;
  margin-top: 0.2rem;
  font-weight: 700;
  opacity: 0.9;
}

@media (max-width: 400px) {
  .score-card .score-exp {
    font-size: 0.8rem;
  }
  .score-card .score-desc {
    font-size: 1rem;
  }
  .score-card .score-id {
    font-size: 0.6rem;
  }
  .score-card .downloads-wrapper {
    min-width: 70px;
  }
  .score-card .artist-wrapper {
    overflow: hidden;
    width: 120px;
  }
  .score-card .img-wrapper {
    width: 2rem;
  }
  .score-card .downloads-wrapper a {
    height: 2rem;
    width: 2rem;
  }
}
@media (max-width: 380px) {
  .score-card .score-exp {
    font-size: 0.6rem;
  }
  .score-card .score-desc {
    font-size: 0.9rem;
  }
  .score-card .score-id {
    font-size: 0.5rem;
  }
  .score-card .downloads-wrapper {
    min-width: 60px;
  }
  .score-card .artist-wrapper {
    overflow: hidden;
    width: 110px;
  }
  .score-card .img-wrapper {
    width: 1.5rem;
  }
  .score-card .creator-wrapper {
    min-width: 100px;
  }
  .score-card .downloads-wrapper a {
    height: 2rem;
    width: 2rem;
  }
}